<div class="wrapper">
    <% if current_page?("/home") || current_page?("/") %>
      <button class="column" id="overviewButton">overview</button>
      <button class="column" id="internationalButton">international involvement</button>
      <button class="column" id="countryButton">country profiles</button>
      <button class="column" id="munButton">model un</button>
    <% else %>
      <a href="/home" id="homeButton">home</a>
    <% end %>
</div>
