<section id="countryMap">
  <div class="container">
    <div class="row">
      <div class="column column-60">
        <h3>Country Profiles: Women in STEM</h3>
        <div id="world-map" style="width: 600px; height: 400px"></div>
      </div>
      <div class="column column-40">
        <p>TEST</p>
      </div>
    </div>
  </div>
</section>
