<section id="countryMap">
  <h2>Around the World: Women in STEM</h2> <br>
  <div class="wrapper">
    <div class="mapWrapper">
      <div id="world-map" style="width: 600px; height: 350px"></div>
    </div>
    <div id="countryInfo">
      <p>Click a highlighted country to learn more about their policies and profiles on Women in STEM</p>
    </div>
  </div>
  <div id="countryFact">
    <p>This section will link up with the third table (second data table), which holds information on different policies in that country.
      Similarly to the div to the right of the map, this will change depending on the country that has been choosen.</p>
  </div>
  <a href="/home" id="homeButton">Return to Main Page</a>
</section>
