<section id="countryMap" class="slides">
  <div class="wrapper">
    <div class="mapWrapper">
      <h3>Country Profiles: Women in STEM</h3>
      <div id="world-map" style="width: 600px; height: 400px"></div>
    </div>
    <div id="countryInfo">
      <h3>Country Name</h3>
    </div>
  </div>
</section>
