<section id="countryMap" class="slides">
  <h2>Country Profiles</h2> <br>
  <div class="wrapper">
    <div class="mapWrapper">
      <div id="world-map" style="width: 600px; height: 400px"></div>
    </div>
    <div id="countryInfo">
      <h3>Click a highlighted country to learn more about their policies and profiles on Women in STEM</h3>
    </div>
  </div>
</section>
