<section id="countryMap">
  <a href="/home" class="linkButton" id="homeButton">Return to Main Page</a><br><br>
  <h2>Around the World: Women in STEM</h2> <br>
  <div class="wrapper">
    <div class="mapWrapper">
      <div id="world-map"></div>
      <br>
    </div>
    <div id="countryFact">
      <p>Click on a <span class="highlight"><span class="highlight_text">highlighted</span></span> country to learn more about their policies and profiles on Women in STEM</p>
    </div>
  </div>
  <div id="countryInfo">
  </div>
</section>
