<!-- homepage -->
<div id="home_slide" class="parallax">
 <div class="innerContent">
   <h1>Women</h1><span>in</span><h1>STEM</h1> <br> <br> <br> <br>
   <button id="scrollDown">
     <i class="fa fa-arrow-circle-down fa-5x" aria-hidden="true"></i>
   </button>
 </div>
</div>
<!-- section 1 overview of food security -->
<section id="overview">
  <button id="topButton">TOP</button>
  <div id="slide2" class="slides">
    <div class="innerContent wrapper">
        <div id="define">
          <span class="firstL">S</span><span>cience</span><br>
          <span class="firstL">T</span><span>echnology</span><br>
          <span class="firstL">E</span><span>ngineering</span><br>
          <span class="firstL">M</span><span>athematics</span>
        </div>
        <div class="column">
          <i class="fa fa-laptop fa-2x" aria-hidden="true"></i> <br>
          <i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i>
        </div>
        <div class="column">
          <i class="fa fa-rocket fa-2x" aria-hidden="true"></i> <br>
          <i class="fa fa-superscript fa-2x" aria-hidden="true"></i>
        </div>
    </div>
  </div>
  <!-- come back to source formatting -->
  <p class="source">SOURCE</p>
  <div id="slide3" class="slides">
    <div class="innerContent">
      <p>Despite growth and accessibility for education and career options, there
        are still societal and cultural barriers against women in STEM.</p>
    </div>
  </div>
  <div id="slide4" class="slides">
    <div class="innerContent">
      <p>No region in the world has been able to reach <span class="stat">50%</span> representation of
        women in STEM.</p>
      <p class="source">http://www.catalyst.org/knowledge/women-science-technology-engineering-and-mathematics-stem</p>
    </div>
  </div>
  <div id="slide5" class="slides">
    <div class="innerContent">
      <p>"Society keeps telling us that STEM fields are masculine fields, that we need to
        increase the participation of women in STEM fields, but that kind of sends a signal that
        it’s not a field for women, and it kind of works against keeping women in these fields.”<br>
        <em>Adriana D. Kugler</em></p>
    </div>
    <p class="source">https://www.insidehighered.com/news/2017/08/29/study-says-multiple-factors-work-together-drive-women-away-stem</p>
  </div>
</section>
<section id="problem">
  <div id="slide4" class="slides">
    <i class="fa fa-male fa-4x" aria-hidden="true"></i>
    <i class="fa fa-male fa-4x" aria-hidden="true"></i>
    <i class="fa fa-male fa-4x" aria-hidden="true"></i>
    <i class="fa fa-female fa-4x" aria-hidden="true" id="woman"></i>
    <p>Less than 1/4 of STEM jobs are held by women</p>
    <p class="source">Solving for XX</p>
  </div>
</section>
<div id="slide3" class="slides">
 <div class="innerContent" >
   <h3>World hunger &amp; the millions of people who are undernourished is rising</h3>
   <div class="wrapper">
     <div class="column">
       <p class="count">777</p>
       <p>million people (2015)</p>
     </div>
     <div class="column">
      <p class="count">815</p>
      <p>million people (2016)</p>
     </div>
   </div>
 </div>
</div>
<div id="slide51" class="parallax">
   <p>"For too long, discriminatory stereotypes have prevented women and girls from
     having equal access to education in science, technology, engineering and math (STEM).
     As a trained engineer and former teacher, I know that these stereotypes are flat wrong.
     They deny women and girls the chance to realize their potential—and deprive the world of
     the ingenuity and innovation of half the population."<br>
     <em>United Nations Secretary-General, Mr. Antonio Guterres</em></p>
</div>
<section id="country" class="slides">
  <div class="innerContent">
    <h3>Being a woman in STEM is different from country to country.</h3>
    <%= link_to "Find our more through country profiles", country_path, class: "otherButton" %>
  </div>
</section>
<section id="mun" class="parallax">
  <div class="innerContent">
    <p>Continue the discussion through Model UN, a fun and interactive way to learn more about international issues, such as Women in STEM,
        and the work of the United Nations. Roleplay delegates from the UN and practice public speaking and negotiation through the Model United Nations App, available
        through the United Nations Association of the USA (UNA-USA) and the U.S. Department of State's Bureau of International Organization Affairs.<br>
    <a href="http://unausa.nclud.com/simulations/details_list/2" class="otherButton">Gender in Science mini-simulation</a></p>
  </div>
</section>
