<!-- homepage -->
<div id="home_slide" class="parallax">
 <div class="innerContent">
   <h1>Food<br>Insecurity</h1> <br> <br>
   <button class="button-clear" id="scrollDown">
     <i class="fa fa-arrow-circle-down fa-5x" aria-hidden="true"></i>
   </button>
 </div>
</div>
<section id="overview">
  <div id="slide2" class="slides">
   <div class="innerContent">
     <h2>food in &#183; se &#183; cu &#183; ri &#183; ty</h2>
     <em>noun</em>
     <p>the definition of food security goes here</p>
   </div>
  </div>
</section>
<div id="slideBee" class="slides">
 <div class="innerContent" >
   <div class="sayings_holder">
     <h3 class="sayings">“Then the Grinch thought of something he hadn't before! What if Christmas, he thought, doesn't come from a store. What if Christmas...perhaps...means a little bit more!”</h3>
   </div>
 </div>
</div>
<div id="slide3" class="parallax">
 <div class="innerContent">
   <div class="sayings_holder">
     <h3 class="sayings">“I truly believe that if we keep telling the Christmas story, singing the Christmas songs, and living the Christmas spirit, we can bring joy and happiness and peace to this world.” </h3>
   </div>
 </div>
</div>
<div id="slide4" class="slides">
 <div class="innerContent">
   <div class="sayings_holder">
     <h3 class="sayings">“Christmas doesn't come from a store, maybe Christmas perhaps means a little bit more....” </h3>
   </div>
 </div>
</div>
<div id="slide5" class="parallax">
 <div class="inner">
   <div class="sayings_holder">
     <h3 class="sayings">“My idea of Christmas, whether old-fashioned or modern, is very simple: loving others. Come to think of it, why do we have to wait for Christmas to do that?” </h3>
   </div>
   <div id="copyright"><a href="https://1stwebdesigner.com/">Copyright 1stwebdesigner.com </a></div>
 </div>
</div>
