<!-- homepage -->
<div class="parallax" id="home_slide">
 <div class="innerContent">
   <h1>Women</h1><span>in</span><h1>STEM</h1> <br> <br>
   <button class="button-clear" id="scrollDown">
     <i class="fa fa-arrow-circle-down fa-5x" aria-hidden="true"></i>
   </button>
 </div>
</div>
<!-- section 1 overview of food security -->
<section id="overview">
  <div id="slide2" class="slides">
    <div class="innerContent" >
      <div class="container">
        <div class="row">
          <div class="column column-50">
            <span class="firstL">S</span><span>cience</span><br>
            <span class="firstL">T</span><span>echnology</span><br>
            <span class="firstL">E</span><span>ngineering</span><br>
            <span class="firstL">M</span><span>ath</span>
          </div>
          <div class="column">
            <i class="fa fa-laptop fa-2x" aria-hidden="true"></i> <br>
            <i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i>
          </div>
          <div class="column">
            <i class="fa fa-rocket fa-2x" aria-hidden="true"></i> <br>
            <i class="fa fa-superscript fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- come back to source formatting -->
  <p class="source">SOURCE</p>
  <div id="slide3" class="slides">
    <p>No region in the world has been able to reach <span class="stat">50%</span> representation of
      women in STEM.</p>
    <p class="source">http://www.catalyst.org/knowledge/women-science-technology-engineering-and-mathematics-stem</p>
  </div>
  <div id="slide4" class="slides">
    <i class="fa fa-male fa-4x" aria-hidden="true"></i>
    <i class="fa fa-male fa-4x" aria-hidden="true"></i>
    <i class="fa fa-male fa-4x" aria-hidden="true"></i>
    <i class="fa fa-female fa-4x" aria-hidden="true"></i> <br>
    Less than 1/4 of STEM jobs are held by women
    <p class="source">Solving for XX</p>
  </div>
</section>
<div id="slide3" class="slides">
 <div class="innerContent" >
   <h3>World hunger &amp; the millions of people who are undernourished is rising</h3>
   <div class="container">
     <div class="row">
       <div class="column">
         <p class="count">777</p>
       </div>
       <div class="column">
        <p class="count">815</p>
       </div>
     </div>
     <div class="row">
       <div class="column">
         <p>million people (2015)</p>
       </div>
       <div class="column">
        <p>million people (2016)</p>
       </div>
     </div>
   </div>
 </div>
</div>
<div id="slide5" class="parallax">
   <blockquote>"For too long, discriminatory stereotypes have prevented women and girls from
     having equal access to education in science, technology, engineering and math (STEM).
     As a trained engineer and former teacher, I know that these stereotypes are flat wrong.
     They deny women and girls the chance to realize their potential—and deprive the world of
     the ingenuity and innovation of half the population."<br>
     <em>United Nations Secretary-General, Mr. Antonio Guterres</em></blockquote>
</div>
<div id="slide6" class="slides">
 <div class="innerContent">
   <div class="sayings_holder">
     <h3 class="sayings">“Christmas doesn't come from a store, maybe Christmas perhaps means a little bit more....” </h3>
   </div>
 </div>
</div>
<section id="country" class="slides">
  <div class="innerContent">
    <h3><%= link_to "Go to Country Maps", country_path %></h3>
  </div>
</section>
