/* general and nav */
/* color scheme navy-gray #223843 gray-white #EFF1F3 light purple #dbd3d8 light peach #d8b4a0 dark peach #d77a61 */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #EFF1F3;
}
header {
  position: fixed;
  width: 100%;
}
.button-clear {
  margin-bottom: 0px;
}
#topMenu {
  padding: 2px 2px 0px 2px;
  background-color: rgba(255, 255, 255, 0.4);
  visibility: hidden;
}
#navTitle {
  font-size: 22px;
  color: black;
}
nav {
  background-color: rgba(255, 255, 255, 0.4);
  display: none;
  padding-bottom: 2px;
}
/* other */
h1 {
  font-family: 'Vollkorn SC', serif;
  font-size: 60px !important;
  margin-bottom: 0 !important;
}
footer {
  text-align: center;
  font-size: 10px;
  padding: 2px;
}
.source {
  display: none;
}
.stat {
  font-size: 20px;
  background-color: white;
  border: 2px white solid;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
}
/* parallax classes */
.parallax {
  height: 600px;
  margin: 0;
  padding: 200px 0 260px 0;
}
.slides {
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0 400px 0;
  width: 100%;
}
.innerContent {
  margin: 0 auto;
  padding: 0px 100px;
  width: 90%;
}
#home_slide {
  background: url("UN_NafiseMotlaq_World Bank.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
/* overwrites */
em {
  font-style: italic;
}
button.button-clear {
  color: black !important;
}
button.button-clear:hover {
  color: #dbd3d8 !important;
}
#scrollDown i {
  color: white;
}
/* other */
#slide2 {
  font-size: 36px;
}
.firstL {
  color: purple;
}
#slide3 {
  background-color: #223843;
  text-align: center;
}
.count {
  font-size: 62px;
}
#slide4 {
  text-align: center;
  font-size: 32px;
}
#slide5 {
  background: url("UN_manuelElias.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  color: #D1d1d1;
}
#slide5 blockquote {
  width: 450px;
  margin-left: 40px;
  background-color: rgba(255, 255, 255, 0.1);
}
/* country map */
#country {
  // text-align: center;
  background-color: #dbd3d8;
}
#countryMap {
  margin: 75px;
}
