/* general nav footer */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FDFDFF;
  font-family: 'Raleway', sans-serif;
  a {
    font-family: 'Raleway', sans-serif;
  }
}
.source {
  display: none;
}
header {
  position: fixed;
  width: 100%;
  span {
    font-size: 22px;
  }
  #topMenu {
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  nav {
    display: none;
    padding-bottom: 4px;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
footer {
  text-align: center;
  font-size: 10px;
  padding: 3px;
  height: 18px;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
/* wrapper */
.wrapper {
  display: flex;
  align-items: center;
  align-content: space-between;
}
.column {
  width: 25%;
}
#countryInfo {
  width: 35%;
}
.mapWrapper {
  width: 65%;
}
/* parallax classes */
.parallax {
  height: 500px;
  margin: 0;
  padding: 200px 0px;
  background-size: cover;
}
.slides {
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0px;
  // width: 100%;
}
.innerContent {
  padding: 0px 100px;
}
/* other */
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}


.stat {
  font-size: 20px;
  background-color: white;
  border: 2px white solid;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
}


#home_slide {
  background: url("UN_NafiseMotlaq_World Bank.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  #scrollDown i {
    color: white;
  }
}
/* other */
#slide2 {
  font-size: 42px;
  #define {
    width: 50%;
  }
  .firstL {
    color: purple;
  }
}

#slide3 {
  background-color: #223843;
  text-align: center;
  .column {
    width: 50%;
  }
}
.count {
  font-size: 62px;
}
#slide4 {
  text-align: center;
  font-size: 32px;
}
#slide5 {
  background: url("VisualNewsAssociates_WB.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
}
#slide51 {
  background: url("UN_manuelElias.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
}
/* country map */
#country {
  // text-align: center;
  background-color: white;
  background: url("international-world-flag-banner.jpg") no-repeat top;
}
#countryMap {
  padding: 75px 50px;
}
#world-map {
  margin: 0 auto;
}
/* mun */
#mun {
  background: url("Plenary-Session-BestDelegate.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  width: 100%;
}
/* overwrites */
em {
  font-style: italic;
}
button, button:active, button:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: 0;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
