/* SASS VARIABLE */
$site-white: #FDFDFF;
$site-black: #111;
$light-grey: #F1F1F2;
$dark-grey: #BCBABE;
$deep-purple: #3F3250;
$coral: #E14658;
$transparent-background: rgba(255, 255, 255, 0.6);
$parallax-photo: 50% 0 no-repeat fixed;
$medium-font: 24px;
$xsmall-font: 11px;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
/* ==== Site General: Nav / Footer ==== */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $site-white;
  color: $site-black;
  font-family: $raleway;
  a {
    font-family: $raleway;
    color: $site-black;
    text-decoration: none;
  }
  a:hover {
    color: $light-grey;
    cursor: pointer;
  }
  button {
    color: $site-black;
  }
  button:hover {
    color: $coral;
    cursor: pointer;
  }
  #topButton {
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    padding: 8px;
    background-color: $site-white;
  }
}
header {
  visibility: hidden;
  position: fixed;
  width: 100%;
  span {
    font-size: 22px;
  }
  #topMenu {
    padding: 4px;
    background-color: $transparent-background;
  }
  nav {
    display: none;
    padding-bottom: 4px;
    background-color: $transparent-background;
  }
}
footer {
  text-align: center;
  font-size: $xsmall-font;
  padding: 3px;
  height: 18px;
  a {
    color: $site-black;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    background-color: $coral;
    cursor: pointer;
  }
}
/* ==== Buttons ==== */
.linkButton {
  background-color: $coral;
  padding: 8px;
  border-radius: 4px;
  font-size: $xsmall-font;
  text-transform: uppercase;
}
/* !!!! COME BACK TO FORMATTING */
.source {
  display: none;
}

.quote {
  background-color: $transparent-background;
  padding: 8px;
  border-radius: 4px;
}
/* ==== Wrapper: General ==== */
.wrapper {
  display: flex;
  align-items: center;
  align-content: space-between;
}
.column {
  width: 25%;
}
#countryFact {
  width: 35%;
}
.mapWrapper {
  width: 65%;
}
/* ==== Parallax and Slides: General ==== */
.parallax {
  height: 500px;
  margin: 0;
  padding: 200px 0px;
}
.slides {
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0px;
  // width: 100%;
}
.innerContent {
  padding: 0px 100px;
}
/* ==== Main Page: Home Slide ==== */
#home_slide {
  background: url("UN_NafiseMotlaq_WorldBank.jpg") $parallax-photo;
  background-size: cover;
  text-align: center;
  color: $site-white;
  font-weight: 600;
  text-transform: uppercase;
  #scrollDown i {
    color: $site-white;
  }
  #scrollDown i:hover {
    color: $light-grey;
    cursor: pointer;
  }
  h1 {
    font-family: $roboto;
    font-size: 60px;
  }
}
/* other */
.linkButton {
  background-color: $coral;
  padding: 8px;
  border-radius: 4px;
  font-size: $xsmall-font;
  text-transform: uppercase;
}
.stat {
  font-size: 40px;
  background-color: $deep-purple;
  border: 2px $deep-purple solid;
  border-radius: 50%;
  padding: 6px;
  margin: 3px;
}
#slide2 {
  font-size: 42px;
  #define {
    width: 50%;
  }
  .firstL {
    color: $coral;
  }
}

#slide3 {
  background-color: #223843;
  color: $light-grey;
  text-align: center;
}
.count {
  font-size: 62px;
}
#slide4 {
  text-align: center;
  font-size: 32px;
}
#slide5 {
  background: url("VisualNewsAssociates_WB.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  color: $light-grey;
  p {
    background-color: rgba(208, 150, 131, 0.5);
    padding: 5px;
    border-radius: 3px;
  }
}
#slide51 {
  background: url("UN_manuelElias.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
}
.highLight {
  background-color: rgba(225, 70,	88, 0.6); /* $coral */
  padding: 1px;
}
/* ==== Country Slide & Map ==== */
#country {
  background-color: white;
  background: url("international-world-flag-banner.jpg") no-repeat top;
  p {
    font-size: $medium-font;
    padding-top: 10px;
  }
}
#countryMap {
  padding: 75px 50px;
  h2 {
    font-size: 26px;
    text-align: center;
  }
}
#world-map {
  margin: 0 auto;
}
#countryFact h3 {
  font-size: $medium-font;
  text-transform: uppercase;
}
#countryFact a, li {
  font-size: 20px;
}
#countryInfo {
  min-height: 160px;
}
#homeButton {
  position: fixed;
  left: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  text-align: center;
}
#homeButton:hover {
  color: $light-grey;
  cursor: pointer;
}
/* ==== Model UN Section ==== */
#mun {
  background: url("modelun.png") $parallax-photo;
  background-size: cover;
  width: 100%;
  p {
    font-size: $medium-font;
    color: $site-black;
  }
}
